body {
    text-align: center;
    user-select:'none';
    background-color: grey;
    user-select: none;
}

main, #contenedor{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    background-color: rgb(145, 57, 153);
    width: 39px;
    height: 39px;
    font-family: Arial; font-size: 30pt; 
    text-align: center;
    color: white;
}

#reiniciar{
    animation: 2s rotate360  linear;
    font-size: 25px;
}
#extra{
    margin-bottom: 40px;
}
b{
    font-size: 24px;
    margin-left: 30px;    
}

span{
    position: absolute;
    color: black;
    text-shadow: 2px 0 0 rgb(255, 255, 255), -2px 0 0 rgb(238, 235, 235), 
    0 2px 0 rgb(255, 255, 255), 0 -2px 0 rgb(247, 240, 240), 1px 1px rgb(252, 247, 247), 
    -1px -1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(243, 239, 239), -1px 1px 0 rgb(241, 236, 236);
    top: 23%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-weight: bold;
}
@keyframes rotate360 { 
 
    to { transform: rotate(360deg); } 
 
} 

@keyframes agrandar {
    from {
        transform: scale(0.2);
    }
    to {
        transform: scale(1);
    }
}

@keyframes direction { 
    0% {left: 0px;} 
    25% {left: 5px; background: rgb(146, 108, 5)} 
    50% {top: 5px; background: rgb(255, 104, 3)} 
    75% {bottom: 5px; background: rgb(255, 52, 1)} 
    10% {right: 10px; background: rgb(255, 0, 0)} 
}